[user]
	email = myemail@email.com
	name = Full Name
[color]
	ui = true
[push]
	default = current
[core]
	# for sublime. -w is for wait, -n if you want it to open in new window instead of new tab
	#editor = subl -w
	editor = vim
	excludesfile = ~/etc/.gitignore_global
	# silence bell for scrollable output such as diffs
	pager = less -q
#use ';' as the command separator when chaining commands because it works for both bash and powershell
[alias]
	autoclean = !"git checkout .;git reset HEAD --hard; git clean -fdx; git submodule foreach --recursive 'git checkout .'"
	rst = reset --hard @{upstream}
	st = status
	co = commit -v
	coam = commit --amend --no-edit
	coame = commit --amend
	ch = checkout
